@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto");
*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, form, label, table, tbody, thead, tr, th, td,
article, aside, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

input[type='radio'], input[type='checkbox'] {
  margin: 0;
  padding: 0; }
  input[type='radio']:focus, input[type='checkbox']:focus {
    outline: none; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

body {
  line-height: 1;
  font: 14px "Roboto", "Arial", sans-serif; }

.content {
  width: 960px;
  margin: 0 auto; }

*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, form, label, table, tbody, thead, tr, th, td,
article, aside, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

input[type='radio'], input[type='checkbox'] {
  margin: 0;
  padding: 0; }
  input[type='radio']:focus, input[type='checkbox']:focus {
    outline: none; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

.main-header {
  height: 80px;
  background-color: #00266b;
  font-family: "Open Sans", "Arial", sans-serif; }

.header-content {
  width: 960px;
  margin: 0 auto; }

.logo {
  display: inline-block;
  float: left;
  margin-top: 6px; }
  .logo img {
    display: inline-block; }

.main-nav {
  float: left;
  margin-left: 128px;
  font-size: 18px; }
  .main-nav li {
    display: inline-block;
    height: 80px;
    margin-right: 32px;
    line-height: 80px; }
    .main-nav li a {
      color: white; }

.search {
  margin-top: 28px;
  background: url("../img/search-icon.png") no-repeat;
  background-size: contain; }

.language {
  margin-left: 32px;
  float: right;
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url("../img/flags-language-square.png") 0px -968px no-repeat; }
  .language span {
    position: relative;
    top: 4px;
    left: -18px;
    color: white; }

*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, form, label, table, tbody, thead, tr, th, td,
article, aside, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

input[type='radio'], input[type='checkbox'] {
  margin: 0;
  padding: 0; }
  input[type='radio']:focus, input[type='checkbox']:focus {
    outline: none; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

/* Hero banner */
.banner {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 600px;
  background: url("../img/hero-1.jpg") no-repeat;
  background-size: cover;
  z-index: -100; }

#app {
  width: 436px; }

*, *::after, *::before {
  box-sizing: border-box; }

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, form, label, table, tbody, thead, tr, th, td,
article, aside, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

input[type='radio'], input[type='checkbox'] {
  margin: 0;
  padding: 0; }
  input[type='radio']:focus, input[type='checkbox']:focus {
    outline: none; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

.action-tab {
  height: 48px;
  border-bottom: 2px solid #00266b; }
  .action-tab li {
    display: inline-block;
    width: 145px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.075);
    text-align: center;
    transition: background-color 1s ease; }
    .action-tab li a {
      display: inline-block;
      height: 100%;
      line-height: 48px;
      font-weight: bold;
      color: white; }
    .action-tab li:hover {
      background-color: rgba(0, 0, 0, 0.2); }
  .action-tab .active {
    background-color: #00266b; }
    .action-tab .active:hover {
      background-color: #00266b; }

.tab-wrapper {
  background-color: #f1f1f0; }

.search-type {
  height: 48px;
  padding: 16px 0 0 28px; }
  .search-type .book, .search-type .redeem {
    display: inline-block;
    margin-right: 50px; }
    .search-type .book label, .search-type .redeem label {
      position: relative;
      top: -2px;
      left: 4px; }
    .search-type .book:hover, .search-type .book label:hover, .search-type .book input[type='radio']:hover, .search-type .redeem:hover, .search-type .redeem label:hover, .search-type .redeem input[type='radio']:hover {
      cursor: pointer; }

.search-flight-form {
  padding: 0 28px; }

.search-type-desc::after {
  clear: both;
  content: '';
  display: block; }

.search-type-desc span {
  float: left;
  display: block;
  width: 48px;
  height: 48px;
  background: url("../img/airplane.png") #00266b no-repeat;
  background-position: 6px 8px; }

.search-type-desc p {
  display: block;
  overflow: auto;
  padding: 10px 8px 10px 16px;
  font-size: 12px;
  background-color: white; }

.search-flights {
  margin-top: 16px; }

.schedule-select {
  height: 32px;
  margin-bottom: 12px; }
  .schedule-select select {
    width: 100%;
    height: inherit;
    padding: 0 12px;
    border: 1px solid #ccc; }

.flight-method .return, .flight-method .one-way {
  display: inline-block;
  margin-right: 85px; }
  .flight-method .return label, .flight-method .one-way label {
    position: relative;
    top: -2px;
    left: 4px; }
  .flight-method .return:hover, .flight-method .return label:hover, .flight-method .return input[type='radio']:hover, .flight-method .one-way:hover, .flight-method .one-way label:hover, .flight-method .one-way input[type='radio']:hover {
    cursor: pointer; }

.filter {
  height: 32px;
  line-height: 32px; }
  .filter label {
    position: relative;
    left: 4px;
    top: -1px; }

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none; }

.flight-date .depart-date {
  height: 32px;
  padding-left: 8px;
  margin-right: 14px; }
  .flight-date .depart-date:before {
    content: 'Depart';
    display: block;
    margin-right: 4px; }

.flight-date .return-date {
  height: 32px;
  padding-left: 8px; }
  .flight-date .return-date:before {
    content: 'Return';
    display: block;
    margin-right: 4px; }

.fare-class {
  margin: 12px 0; }
  .fare-class select {
    width: 100%;
    height: 32px; }

.passenger-category select {
  width: 60px;
  height: 32px;
  margin-right: 60px; }

.promo-trigger {
  display: block;
  margin: 12px 0;
  color: #666; }

.search-buttons input[type='submit'] {
  width: 180px;
  height: 32px;
  border: none;
  color: white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.6s ease;
  margin-bottom: 12px; }
  .search-buttons input[type='submit']:focus {
    outline: none; }

.search-buttons .view-schedules-btn {
  background-color: #a0afb3;
  margin-right: 20px; }
  .search-buttons .view-schedules-btn:hover {
    cursor: pointer;
    background-color: #666; }

.search-buttons .search-btn {
  background-color: #00266b; }
  .search-buttons .search-btn:hover {
    cursor: pointer;
    background-color: #2e77fd; }
