*, *::after, *::before {
	box-sizing: border-box;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, img, ol, ul, li, form, label, table, tbody, thead, tr, th, td,
article, aside, footer, header, nav {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

input[type='radio'], input[type='checkbox'] {
	margin: 0;
	padding: 0;

	&:focus {
		outline: none;
	}
}

a {
  text-decoration: none;
}

ol, ul {
	list-style: none;
}
