@import url('https://fonts.googleapis.com/css?family=Roboto');

$primary-font: 'Roboto', 'Arial', sans-serif;
$secondary-font: 'Open Sans', 'Arial', sans-serif;

$primary-color: #00266b;
$accent-color: #ff9f00;
