doctype html
head
  title success
body
  #app
  .data
    input#one-way-flights(type='hidden', value=oneWayFlights)
    input#return-flights(type='hidden', value=returnFlights)
    input#user-selection-data(type='hidden', value=userSelectionData)
  script(src='http://localhost:3000/js/jquery-3.1.1.js')
  script(src='http://localhost:3000/js/main.js')
