doctype html
head
  title Singapore Airline Clone ^^^
  link(rel='stylesheet', href='css/style.css')
body
  .container
    header.main-header
      .header-content
        .logo
          img(src='img/logo.svg')
        nav.main-nav
          ul
            li
              a(href='#') Home
            li
              a(href='#') News
            li
              a(href='#') About Us
            li
              a(href='#') Account
        .search
          input(type='text')
        .language
          span En
    .banner
      .caption
        h2 We search for familiar flavours, to make you feel at home
        a(href='#') Discover the lengths we go to
    .content
      #app
  script(src='js/jquery-3.1.1.js')
  script(src='js/main.js')
