@import '../base/reset';
@import '../base/variables';
@import '../base/mixins';

.main-header {
  height: 80px;
  background-color: $primary-color;
  font-family: $secondary-font;
}

.header-content {
  width: 960px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
	float: left;
	margin-top: 6px;
	img {
		display: inline-block;
	}
}

.main-nav {
	float: left;
	margin-left: 128px;
  font-size: 18px;
  li {
    display: inline-block;
		height: 80px;
		margin-right: 32px;
		line-height: 80px;
    a {
      color: white;
    }
  }
}

.search {
	margin-top: 28px;
	background: url('../img/search-icon.png') no-repeat;
	background-size: contain;
}

.language {
	margin-left: 32px;
	float: right;
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url('../img/flags-language-square.png') 0px -968px no-repeat;
	span {
		position: relative;
		top: 4px;
		left: -18px;
		color: white;
	}
}
