@import '../base/reset';
@import '../base/variables';
@import '../base/mixins';

/* Hero banner */
.banner {
	position: absolute;
	top: 80px;
	width: 100%;
	height: 600px;
	background: url('../img/hero-1.jpg') no-repeat;
	background-size: cover;
	z-index: -100;
}

#app {
	width: 436px;
}
