@import '../base/reset';
@import '../base/variables';
@import '../base/mixins';

// Action
.action-tab {
	height: 48px;
	border-bottom: 2px solid $primary-color;
	li {
		display: inline-block;
		width: 145px;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.075);
		text-align: center;
		transition: background-color 1s ease;
		a {
			display: inline-block;
			height: 100%;
			line-height: 48px;
			font-weight: bold;
			color: white;
		}

		&:hover {
			background-color: rgba(0, 0, 0, 0.2);
		}
	}
	.active {
		background-color: $primary-color;
		&:hover {
			background-color: $primary-color;
		}
	}
}

.tab-wrapper {
	background-color: #f1f1f0;
}

.search-type {
	height: 48px;
	padding: 16px 0 0 28px;

	.book, .redeem {
		display: inline-block;
		margin-right: 50px;

		label {
			position: relative;
			top: -2px;
			left: 4px;
		}

		&:hover, label:hover, input[type='radio']:hover {
			cursor: pointer;
		}
	}
}

.search-flight-form {
	padding: 0 28px;
}

.search-type-desc {
	@include clearfix;
	span {
		float: left;
		display: block;
		width: 48px;
		height: 48px;
		background: url('../img/airplane.png') $primary-color no-repeat;
		background-position: 6px 8px;
	}

	p {
		display: block;
		overflow: auto;
		padding: 10px 8px 10px 16px;
		font-size: 12px;
		background-color: white;
	}
}

.search-flights {
	margin-top: 16px;
}

.schedule-select {
	height: 32px;
	margin-bottom: 12px;

	select {
		width: 100%;
		height: inherit;
		padding: 0 12px;
		border: 1px solid #ccc;
	}
}

.flight-method {
	.return, .one-way {
		display: inline-block;
		margin-right: 85px;

		label {
			position: relative;
			top: -2px;
			left: 4px;
		}

		&:hover, label:hover, input[type='radio']:hover {
			cursor: pointer;
		}
	}
}

.filter {
	height: 32px;
	line-height: 32px;

	label {
		position: relative;
		left: 4px;
		top: -1px;
	}
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
}

.flight-date {
	.depart-date {
		height: 32px;
		padding-left: 8px;
		margin-right: 14px;

		&:before {
			content: 'Depart';
			display: block;
			margin-right: 4px;
		}
	}

	.return-date {
		height: 32px;
		padding-left: 8px;

		&:before {
			content: 'Return';
			display: block;
			margin-right: 4px;
		}
	}
}

.fare-class {
	margin: 12px 0;

	select {
		width: 100%;
		height: 32px;
	}
}

.passenger-category {
	select {
		width: 60px;
		height: 32px;
		margin-right: 60px;
	}
}

.promo-trigger {
	display: block;
	margin: 12px 0;
	color: #666;
}

.search-buttons {
	input[type='submit'] {
		width: 180px;
		height: 32px;
		border: none;
		color: white;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		transition: background-color 0.6s ease;
		margin-bottom: 12px;

		&:focus {
			outline: none;
		}
	}

	.view-schedules-btn {
		background-color: #a0afb3;
		margin-right: 20px;

		&:hover {
			cursor: pointer;
			background-color: #666;
		}
	}

	.search-btn {
		background-color: #00266b;

		&:hover {
			cursor: pointer;
			background-color: #2e77fd;
		}
	}
}
